@charset "utf-8";
@font-face {
  font-family: Pretendard;
  src: url(../../webfonts/Pretendard-Regular.woff);
}

* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
img {
  object-fit: cover;
  max-width: 100%;
}
body {
  font-family: Pretendard;
  font-size: 17px;
  line-height: 1.5;
}
.wrap {
  width: 100%;
  height: 100vh;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 90px;
  transition: background-color 0.3s;
  z-index: 10;
}
header .inner {
  position: relative;
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 20px;
}
header .inner.on:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%);
  height: 1px;
  background: #d3e0e9;
  box-shadow: rgba(149, 157, 165, 0.07) 0px 8px 15px;
}
header .inner .logo {
  width: 100px;
  height: 52px;
}
header .inner .logo a {
  display: block;
  width: 100%;
  height: 100%;
  background: url(../images/logo_w.svg) center no-repeat;
}
header .inner .logo a.on {
  background: url(../images/logo_b.svg) center no-repeat;
}
header .inner nav {
  height: 100%;
  margin-left: 150px;
}
header .inner nav .deps1 {
  display: flex;
  height: 100%;
}
header .inner nav .deps1 > li {
  position: relative;
  display: flex;
  align-items: center;
}
header .inner nav .deps1 > li > a {
  position: relative;
  font-size: 20px;
  font-weight: 600;
  display: block;
  padding: 0 60px;
  color: #fff;
}
header .inner nav .deps1 > li > a::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -10px;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background: #1947ba;
  transition: 0.3s ease-in-out;
}
header .inner nav .deps1 > li:hover > a::before {
  width: calc(100% - 80px);
}
header .inner nav .deps1 > li .deps2 {
  width: 100%;
  height: 270px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 100%);
  opacity: 0;
  padding-top: 10px;
  transition: 0.4s;
}
header .inner nav .deps1 > li .deps2.on {
  opacity: 1;
  transition-delay: 0.2s;
}
header .inner nav .deps1 li .deps2 > li {
  text-align: center;
  padding: 10px 0;
}
header .inner nav .deps1 li .deps2 > li a {
  position: relative;
  font-size: 17px;
  color: #fff;
  white-space: nowrap;
}
header .inner nav .deps1 li .deps2 > li a::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -2px;
  transform: translateX(-50%);
  width: 0;
  height: 1px;
  background: #000;
  transition: 0.3s ease-in-out;
}
header .inner nav .deps1 li .deps2 > li:hover a::before {
  width: 100%;
}
.share_btn {
  width: 28px;
  height: 32px;
}
.share_btn button {
  position: relative;
  width: 100%;
  background: none;
  border: none;
  scale: 1.2;
}
.share_btn button img.share_black {
  position: absolute;
  top: 0;
  left: 0;
  scale: 1.2;
  opacity: 0;
}
.main .swiper-slide {
  position: relative;
  width: 100%;
  height: 100vh;
  position: relative;
}
.swiper-slide .txt_box {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.swiper-slide .txt_box .inner {
  position: relative;
  max-width: 100%;
  padding: 60px 20px 0 20px;
  margin: 0 auto;
}
.swiper-slide .txt_box .inner .tit {
  overflow: hidden;
  font-size: 56px;
  color: #fff;
  font-weight: 700;
}
.swiper-slide .txt_box .inner .tit > span {
  display: block;
  line-height: 1.3;
  overflow: hidden;
}
.swiper-slide .txt_box .inner .tit > span > span {
  display: block;
  transform: translateY(100%);
}
.main .main_one {
  background: url(../images/main_02.jpg) center no-repeat;
  background-size: 100%;
}

.main .main_two {
  background: url(../images/main_01.jpg) center no-repeat;
  background-size: 100%;
}
.slide_move {
  position: absolute;
  width: 100%;
  height: 40px;
  top: 68%;
  left: 50%;
  display: flex;
  align-items: center;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.autoplay-progress {
  /* position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--swiper-theme-color); */
}
.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--swiper-theme-color);
  fill: none;
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}

@media (max-width: 2000px) {
  .main .txt_box .inner,
  .slide_move {
    width: 1440px;
  }
}
